DB_URI=mongodb+srv://richardanthonyiddurut_db_user:hTc6HJfe5cXXzbBI@cluster0.2xkjoug.mongodb.net/?appName=Cluster0
DB_NAME=secure_it
PORT=4001
NODE_ENV=DEVELOPMENT

EMAIL_FROM=RevNation <noreply@SecureIT.com>
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=7374426e459251
MAILTRAP_PASS=5e51ea626fd53f
MAILTRAP_API_TOKEN=Bearer 29982dd0d7a297aa7a8c529087599b9f
EMAIL_VERIFY_TTL_HOURS=24
REQUIRE_EMAIL_VERIFICATION=true

CLOUDINARY_CLOUD_NAME=dssb048f1
CLOUDINARY_API_KEY=959754641548552
CLOUDINARY_API_SECRET=se7WzFDHkOCJd9JbOjenk0TvYOs
